MODULE_PATH=first_project:other_project
STATIC_FILES=frontend/dist
# DB_CONNECTION=duckdb:///:memory:
DB_CONNECTION=sqlite:///:memory:?check_same_thread=false
USE_LOG_INDEXER=false
ENV=dev
MIN_GZIP_SIZE=1000

JOB_LOCK_TIMEOUT=120

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0